/*generic styles for all app*/

@layer general, theme-dark, theme-light;

@layer general {
    * {
        transition-property: background-color, color;
        transition-duration: 2s;
        transition-timing-function: ease;
    }

    *::selection {
        background-color: transparent;
    }
}

@layer theme-dark {
    .theme-dark *::selection {
        color: var(--selection-color-dark);
    }

    .theme-dark,
    .theme-dark * {
        background-color: var(--theme-dark);
        color: var(--color-dark);
    }
}

@layer theme-light {
    .theme-light *::selection {
        color: var(--selection-theme-light);
    }

    .theme-light,
    .theme-light * {
        background-color: var(--theme-light);
        color: var(--color-light);
    }
}
