/*#region variables*/
:root {
    /*images*/
    --animation-values-images: 20s linear alternate infinite;
    /*image 2*/
    --translate-initial-image: -90% -90%;
    --translate-middle-image: -22% -22%;
    --translate-final-image: 0 0;
    --translate-initial-rotate: 45deg;
    --translate-final-rotate: 0;
    /*image 2*/
    /*images*/
}
/*#endregion*/

@layer container, images;

@layer container {
    .profile-container {
        position: relative;
        min-width: 250px;
        width: 100%;
        max-width: 300px;
        aspect-ratio: 1/1.5;
        margin: 50px;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        overflow: hidden;
    }
}

@layer images {
    .profile-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        border-radius: inherit;
        -webkit-border-radius: inherit;
        -moz-border-radius: inherit;
        -ms-border-radius: inherit;
        -o-border-radius: inherit;
    }
    #profile-image-1 {
        content: url('../../../../assets/profile-photo.png');
        animation: image-hide var(--animation-values-images);
        -webkit-animation: image-hide var(--animation-values-images);
    }

    @keyframes image-hide {
        0% {
            opacity: 1;
        }
        30% {
            opacity: 1;
        }
        31.66% {
            opacity: 0;
        }
        68.33% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    #profile-image-2 {
        content: url('../../../../assets//profile-photo-2.png');
        animation: image-transition var(--animation-values-images);
        -webkit-animation: image-transition var(--animation-values-images);
}

    @keyframes image-transition {
        0% {
            rotate: var(--translate-initial-rotate);
            translate: var(--translate-initial-image);
        }
        20% {
            /*animation start*/
            translate: var(--translate-initial-image);
        }
        30% {
            rotate: var(--translate-initial-rotate);
            translate: var(--translate-middle-image);
        }
        31.66% {
            /*animation end*/
            rotate: var(--translate-final-rotate);
            translate: var(--translate-final-image);
        }
        68.33% {
            /*animation start*/
            rotate: var(--translate-final-rotate);
            translate: var(--translate-final-image);
        }
        70% {
            rotate: var(--translate-initial-rotate);
            translate: var(--translate-middle-image);
        }
        80% {
            /*animation end*/
            translate: var(--translate-initial-image);
        }
        100% {
            rotate: var(--translate-initial-rotate);
            translate: var(--translate-initial-image);
        }
    }
}
